scopeName: 'source.insight'
name: 'Insight'
fileTypes: [
  'i',
  'space'
  'model'
  'line'
]

# firstLineMatch: '' # A regular expression that is matched against the first line of the document when Atom is trying to decide if the grammar is appropriate. Useful for shell scripts, mostly.
# foldingStartMarker: '' # A regular expression that checks for the start of a foldable area (such as `{`).Ò
# foldingStopMarker: '' # A regular expression that checks for the end of a foldable area (such as `}`). If both folding markers are matched in the same line, there will be no foldable area.

patterns: [

  # Annotations
  #(.{0,})
  {
    name: 'constant.library.insight'
    begin: '(^(\\ ){0,})([A-Za-z0-9_]+)(\\:)'
    beginCaptures:
      # '0':
      #   name: 'markup.underline.insight'
      '0':
        name: 'comment.block.insight'
      '1':
        name: 'comment.block.insight'
      '2':
        name: 'comment.block.insight'
    end: '\\n'
  }

  # Spaces
  {
    match: '\\b(space|import|as|alias|mean|let|in)\\b'
    name: 'keyword.other.insight'
  }

  # Models
  {
    name: 'keyword.other.insight'
    match: '\\b(model|extend|apply|include|insert|describe|embed)\\b'
  }

  # Primitives
  {
    name: 'keyword.other.insight'
    match: '\\b(story|claim|text|doc)\\b'
  }

  # Asserts
  {
    name: 'keyword.other.insight'
    match: '\\b(line|assume|assert|dispute|disclose|suspend|require|from|with)\\b'
  }

  # Paths
  {
    name: 'keyword.other.insight'
    match: '\\b(path|step)\\b'
  }

  # Subjects
  {
    name: 'keyword.other.insight'
    match: '\\b(object|subject|image)\\b'
  }

  # Objects
  {
    name: 'keyword.other.insight'
    match: '\\b(object|ref|image)\\b'
  }

  # Masks
  {
    name: 'keyword.other.insight'
    match: '\\b(book|article|essay|letter|person|paper|booksec|report)\\b'
  }

  {
    name: 'keyword.other.insight'
    match: '\\b(concept|algorithm|datastruct|theorem|module|dataset|measure)\\b'
  }

  # Tmp Masks
  {
    name: 'keyword.other.insight'
    match: '\\b(module|mod|example|ex|train|compose|example|define|def|proof|theorem|seq|set|list|coll)\\b'
  }

  # ... ?
  {
    name: 'keyword.other.insight'
    match: ':'
  }

  # ... ?
  {
    name: 'keyword.other.insight'
    match: '\\.'
  }

  # ... ?
  {
    name: 'keyword.other.insight'
    match: '\\* '
  }

  # Declare and include
  {
    name: 'keyword.other.insight'
    match: '\\+\\='
  }

  # Compact Assert
  {
    name: 'keyword.other.insight'
    match: '\\+'
  }

  # Compact Dispute
  {
    name: 'keyword.other.insight'
    match: '\\~'
  }

  # Compact Line
  {
    name: 'keyword.other.insight'
    match: '\\ \\\\'
  }

  # Include
  {
    name: 'keyword.other.insight'
    match: '\\-'
  }

  # Extend
  {
    name: 'keyword.other.insight'
    match: '\\<'
  }

  # Insert
  {
    name: 'keyword.other.insight'
    match: '\\>'
  }

  # Apply
  {
    name: 'keyword.other.insight'
    match: '\\^'
  }

  # Suspend
  {
    name: 'keyword.other.insight'
    match: '\\?'
  }

  # Mounts
  {
    name: 'variable.other.insight'
    match: '\\$[A-Za-z]([A-Za-z0-9_.-]+)?'
  }

  # Users
  {
    name: 'constant.language.insight'
    match: '\\@[A-Za-z0-9_]([A-Za-z0-9_-]+)?'
  }

  # Subjects
  {
    name: 'constant.language.insight'
    match: '\\#[A-Za-z]([A-Za-z0-9_.-]+)?'
  }

  # Objects
  {
    name: 'constant.language.insight'
    match: '\\\'[A-Za-z]([A-Za-z0-9_.-]+)?'
  }

  # Symbols
  {
    name: 'variable.other.insight'
    match: '\\*([A-Za-z0-9_-]+)'
  }

  # Claims
  {
    name: 'variable.other.insight'
    match: '\\!([A-Za-z0-9_-]+)?'
  }

  # Public Route
  {
    name: 'comment.block.insight'
    match: '\\`([A-Za-z0-9_-]+)'
  }

  #
  {
    name: 'comment.other.insight'
    begin: '^( +)?/'
    end: '\\n'
  }

  # Rich Text
  {
    name: 'comment.other.insight'
    begin: '\\ (\\+|~|\\?|<)?\\='
    beginCaptures:
      '0':
        name: 'comment.other.insight'
    end: '\\n'
    patterns: [
      {
        name: 'variable.other.insight'
        match: '\\*[A-Za-z]([A-Za-z0-9_-]+)'
      }

      {
        name: 'variable.other.insight'
        match: '\\!([A-Za-z0-9_-]+)?'
      }

      {
        name: 'constant.language.insight'
        match: '\\#[A-Za-z]([A-Za-z0-9_.-]+)?'
      }

      {
        name: 'constant.language.insight'
        match: '\\\'[A-Za-z]([A-Za-z0-9_.-]+)?'
      }

      {
        name: 'variable.other.insight'
        match: '\\@[A-Za-z0-9_]([A-Za-z0-9_-]+)?'
      }
    ]
  }

  # Inline Html
  {
    name: 'constant.library.insight'
    begin: '\\ \\+?\\|'
    beginCaptures:
      '0':
        name: 'keyword.other.insight'
    end: '\\n'
    patterns: [
      {
        include: '#imd'
      }
    ]
  }

  {
    # let foo >
    'begin': '^(\\s*)([a-z]+) (.+) (\\>)$'
    'beginCaptures':
      '2':
        'name': 'keyword.other.insight'

      '4':
        'name': 'keyword.other.insight'
    'end': '^(?!$)(?!\\1\\s+)'
    'contentName': 'comment.block.insight'
    'patterns': [
      {
        include: '#imd'
      }
    ]
  }


  {
    # let foo >
    'begin': '^([a-z]+) (.+) (\\>)$'
    'beginCaptures':
      '2':
        'name': 'keyword.other.insight'

      '4':
        'name': 'keyword.other.insight'
    'end': '^(?!$)(?!\\1\\s+)'
    'contentName': 'comment.block.insight'
    'patterns': [
      {
        include: '#imd'
      }
    ]
  }

  {
    # >>>
    'begin': '^(\\s*)(\\>\\>\\>)(.+)?$'
    'beginCaptures':
      '2':
        'name': 'keyword.other.insight'

      '3':
        'name': 'comment.block.insight'
    'end': '^(?!$)(?!\\1\\s+)'
    'contentName': 'comment.block.insight'
    'patterns': [
      {
        include: '#imd'
      }
    ]
  }

  {
    # >>>
    'begin': '^(\\>\\>\\>)(.+)?$'
    'beginCaptures':
      '1':
        'name': 'keyword.other.insight'

      '2':
        'name': 'keyword.other.insight'

      '3':
        'name': 'comment.block.insight'
    'end': '^(?!$)(?!\\1\\s+)'
    'contentName': 'comment.block.insight'
    'patterns': [
      {
        include: '#imd'
      }
    ]
  }

  {
    # >
    'begin': '^(\\s*)(\\>)$'
    'beginCaptures':
      '1':
        'name': 'keyword.other.insight'

      '2':
        'name': 'keyword.other.insight'

      '3':
        'name': 'comment.block.insight'
    'end': '^(?!$)(?!\\1\\s+)'
    'contentName': 'comment.block.insight'
    'patterns': [
      {
        include: '#imd'
      }
    ]
  }

  {
    'begin': '^(\\s*)(---?)(.+)$'
    'beginCaptures':
      '2':
        'name': 'keyword.other.insight'
      '3':
        'name': 'comment.block.insight'
    'end': '\\n'
  }

  {
    'begin': '^(\\s*)(>>)(.+)$'
    'beginCaptures':
      '2':
        'name': 'keyword.other.insight'
      '3':
        'name': 'comment.block.insight'
    'end': '\\n'
  }

  # Line self ref
  {
    name: 'constant.language.insight'
    match: '\\^'
  }

  # Comments
  {
    name: 'comment.block.insight'
    begin: '\\#\\ [A-Za-z]([A-Za-z0-9_.]+)?'
    end: '\\n'
  }

  {
    name: 'comment.block.insight'
    begin: '\\#[\\ ]+'
    end: '\\n'
  }

  {
    name: 'comment.block.insight'
    begin: '\\#'
    end: '\\n'
  }
]

repository: {
  'imd':
    patterns: [
      {
        'include': 'source.gfm'
      }
      {
        'begin': '^(\\s*)(#.+)$'
        'end': '\\n'
        'beginCaptures':
          '2':
            'name': 'keyword.other.insight'
      }
      {
        name: 'variable.other.insight'
        match: '\\{(([a-z\\-]+):)?([\\\'\\@\\*\\!\\$\\#A-Za-z0-9_\\.\\-]+)(\ ([^\\{]+))?\\}'
      }
    ]
}
# repository: # An array of rules. If you're going to be referencing one bit of code over and over again, stick it here so that you can edit all in one place.
  # ruleName: # Can be anything.
  #   {
  #     name: ''
  #     match: ''
  #     end: ''
  #     endCaptures:
  #       0:
  #         name: ''
  #   }
