'.source.insight':
  editor:
    commentStart: '# '
    'commentStart': '# '
    'foldEndPattern': '^\\s*$|^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '^\\s*.*(:|-) ?(&\\w+)?(\\{[^}"\']*|\\([^)"\']*)?$'
    'decreaseIndentPattern': '^\\s+\\}$'
    'tabType': 'soft'