<div class="Git">
  <h1 class="block">Required Software is Missing</h1>

  <div class="Git-message">
    <p>Claimspace requires a piece of software called <strong>Git</strong>, which helps
      keep your local Claimspace projects in sync with the Claimspace Cloud.</p>

    <p>Most computers now come with Git preinstalled, but it's missing on
      yours. Not to worry! Installing Git is easy:</p>
  </div>

  <button class='inline-block btn btn-primary Git-install'>Install Now</button>
  <button class='inline-block btn btn Git-help'>Get Help</button>
</div>
