<div class="Login">
  {{#isLoggedIn}}
    <div class="Login-existing text-success">
      You are currently logged in as <strong>@{{username}}.</strong>
    </div>

    <h2 class="block">Update Credentials</h2>
  {{/isLoggedIn}}

  {{#isNotLoggedIn}}
    <h2 class="block">Login to Claimspace Cloud</h2>
  {{/isNotLoggedIn}}

  <div class="Login-message">
    <p>Enter the username and password for your <strong>Claimspace.cloud</strong> account:</p>
  </div>

  <input class='input-text native-key-bindings Login-username' type='text' placeholder='Username' tabindex="0">
  <input class='input-text native-key-bindings Login-password' type='password' placeholder="Password" tabindex="1">

  <div class="Login-message">
    <p>Your credentials will be added to your Mac OSX Login <strong>Keychain</strong>.</p>

    <p><strong>Be aware:</strong> after loggging in, you may be prompted by the Mac Keychain program to allow "Git"
      to access your Keychain. This should be your Keychain (Mac) password. This allows Your
      Claimspace credentials to be stored securely on your Mac.</p>
  </div>

  <div class='block'>
    <button class='inline-block btn btn-primary Login-submit' tabindex="2">Login</button>
    <button class='inline-block btn Login-cancel' tabindex="3">Cancel</button>
  </div>
</div>
